<div class="page-content">
  <p-toast></p-toast>
  <div class="search-container mb-3">
    <p-toolbar styleClass="surface-0">
      <h3 class="mb-3">Digite o nome ou o ID do Pokemon para ver suas informações</h3>
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText pKeyFilter="alphanum" [formControl]="searchByName"
          (keyup.enter)="onSearchPokemon()" />
        <label>Nome/ID</label>
      </span>
    </p-toolbar>
  </div>

  <div *ngIf="isLoadingData" class="flex align-items-center justify-content-center">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s">
    </p-progressSpinner>
  </div>

  <div *ngIf="!isLoadingData" class="pokemons-container">
    <div class="grid" *ngIf="pokemons.length > 0">
      <div *ngFor="let pokemon of pokemons" class="col-12 md:col-4 lg:col-3">
        <app-pokemon-card [data]="pokemon"></app-pokemon-card>
      </div>
    </div>
  </div>

  <p-paginator *ngIf="!isSearching" (onPageChange)="onPageChange($event)" [first]="pokemonsFirst"
    [rows]="pokemonsPerPage" [totalRecords]="pokemonsCount" [showJumpToPageDropdown]="true" [showPageLinks]="false"
    styleClass="fixed-bottom">
  </p-paginator>

</div>
