.page-master-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;

  .page-master-content {
    flex: 1;
  }

  .page-master-menu {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}
