<main class="page-master-wrapper">
  <div class="page-master-header sticky-top">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-button (click)="isSidebarVisible = true" icon="pi pi-bars"></p-button>
      </div>
    </p-toolbar>
  </div>
  <div class="page-master-content">
    <router-outlet></router-outlet>
  </div>
  <p-sidebar [(visible)]="isSidebarVisible" [blockScroll]="true" position="left" styleClass="page-master-primary">
    <p-menu [model]="routeItems" styleClass="menu-desktop"></p-menu>
  </p-sidebar>
</main>

<!-- <ng-template #menuMobile>
  <div *ngIf="routeItems && activeRouteItem" class="page-master-menu page-master-primary">
    <p-tabMenu [model]="routeItems" [activeItem]="activeRouteItem" (activeItemChange)="onRouteChange($event)">
      <ng-template pTemplate="item" let-item let-i="index">
        <i [classList]="item.icon"></i>
      </ng-template>
    </p-tabMenu>
  </div>
</ng-template> -->
