<span *ngIf="!isShadowOrUnknown; else fallback" [ngStyle]="getIconColor()" class="flex">
  <!-- <svg [attr.class]="'icon icon-' + name" fill="currentColor" [attr.width]="width" [attr.height]="height">
    <use [attr.xlink:href]="'./../../../assets/images/icons.svg#icon-' + name"></use>
  </svg> -->
  <mat-icon class="icon-small" [svgIcon]="name" [attr.width]="width" [attr.height]="height"></mat-icon>
</span>

<ng-template #fallback>
  <span>
    <i class="pi pi-question-circle" style="font-size: 22px"></i>
  </span>
</ng-template>
